PORT=3000
DATABASE_URL=mysql://user:password@localhost:3306/pebble
APP_BASE_URL=https://pebble.app

JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=14d
JWT_REFRESH_SECRET=
JWT_SECRET=

SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=

MAIL_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=587
SMTP_USER=
